<!--The content below is only a placeholder and can be replaced.-->

<div>
    <mat-tab-group backgroundColor="primary" mat-stretch-tabs>
        <mat-tab label="Blog" >
            <blog-card *ngFor="let blog of blogs"
            [blog] = "blog">
            </blog-card>
        </mat-tab>
        <mat-tab label="Publications">
            <publication-card *ngFor="let publication of publications" 
            [publication] = "publication">
            </publication-card>
        </mat-tab>
        <mat-tab label="About Me"></mat-tab>
    </mat-tab-group>
</div>