:host{
    align-content: center;
}
.titlebar{
    text-align: center;
}

.button_text{
    color:white;
    size:70px;
}
.filler{
    flex: 1 1 auto;
}

.icon{
    height: 16px;
}

.header-icon{
    height: 40px;
}

.banner{
    background-image: url("../assets/me.jpg");
    background-repeat: no-repeat;
    background-position: 0in;
    background-size: 100%;
    background-attachment: scroll;
    min-height: 200px;
}