<!--The content below is only a placeholder and can be replaced.-->
  <mat-toolbar class="titlebar" color="primary">
    <button mat-button class="button-img" color="primary">
      <img class="header-icon" src="assets/TanmayWadhwaLOGO.png">
      <span class="button_text ">
       Tanmay Wadhwa
      </span>
    </button>
    <span class="filler"></span>
    <a href="http://www.github.com/tanmaywadhwa">
    <button class="button-img" mat-raised-button color="primary">
        <img class="icon" src="assets/github-circle-white-transparent.svg">
        <span class="button_text">
          GitHub
        </span>
    </button>
    </a>
  </mat-toolbar>
  <mat-card class="banner"></mat-card>
  <br>
  
  <body-component></body-component>
